#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.content-col {
  margin-right: 10px;
}

.main-frame {
  display:flex;
}

.flex-between {
  display:flex;
  justify-content: space-between;
}

/* Map Frame classes */
.map-img {
  width: 450px;
  height: 450px;
}

.lamp-box {
  position: relative;
  overflow: hidden;
  z-index: 4;
}
.lamp-icon {
  position: absolute;
}

/* Switch frame classes */

.switch-grid {
  display:grid;
  grid-template-columns: repeat(4,2fr);
}

.lamp-button {
  padding: 5 15px;
  margin: 5px;
  display:flex;
  width:175px;
  height:75px;
  font-size: 12px;
  text-align:start;
  justify-content:space-between;
}

.switch-extra-info {
  display:flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.switch-active {
  background-color:slategray;
}

.icon {
  width: 20px;
  height: 20px;
}
.upgraded {
  color:red;
  background-color: aqua;
}

.source-req {
  font-weight: 600;
  text-align: end;
  color:cadetblue;
}

@media (max-width: 1320px) {
  .main-frame {
    display:flex;  
    flex-wrap: wrap;
    justify-content: center;
  }
  .map-img {
    width: 750px;
    height: 750px;
  }
  .lamp-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .lamp-button {
    margin: 5px;
    padding-top: 25px;
    width: 250px;
    height: 150px;
    font-size: 16px;
    align-self: center;
    text-align: center;
  }
}

@media (min-width:1720px) {
  .lamp-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}